// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

// grid containers
$container-max-widths: (
  sm: 750px,
  md: 980px,
  lg: 1200px
);

$grid-columns: 12 !default;
$gutter: 24px !default;
$gutter-lg: 30px !default;
$gutter-xs: 12px !default;
$gutter-xxs: 10px !default;

$widthContent: 960px;
$widthPageMax: none;
$widthPageMin: 0;

// font var
//-----------------------------------------------------------------------------------
$ubuntu: 'Ubuntu', sans-serif;
$default-font: $ubuntu, Arial, "Helvetica Neue", Helvetica, sans-serif;

//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;

//-----------------------------------------------------------------------------------
$color-link: dodgerblue;
